 /* CSS Styling */
 body {
    font-family: Arial, sans-serif;
    background: url('1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    max-height: 1000px;
    margin-top: 260px;
    margin-left: 500px;
    padding: 20px;
}

.menu {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    padding: 80px;
    margin-bottom: 50px;
}

.menu ul {
    list-style-type: none;
    display : flex;
    Flex-direction : column;
    margin: 10px;
    padding: 10px;
}

.menu ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top : 15px;
}

.menu ul li a {
    text-decoration: none;
     text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #555;
}